:host {
  display: grid;

  // flex-direction: column;

  justify-content: center;
}

input {
  box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.15);

  &:focus {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

.content {
  position: relative;
  width: 80%;
}

.right {
  position: absolute;
  right: -25%;
  top: 10px;
  z-index: 2;
}

.loader {
  transform: translate(-50%, 50%);
  position: absolute;
  right: -24%;
  top: 12px;
  z-index: 2;
}

.alert {
  &-info {
    color: white;
    background-color: transparent;
    border-color: white;
  }
}
