<div class="content" (@paning.done)="resetPan()" [@paning]="contentAnimationState" #contentWrapper [style.transform]="contentPosition">

  <input (tap)="todo.edit = true" (pan)="widthChange($event)" (panend)="panEnd($event)" type="text" #editInput value="{{ todo.content }}"
    [readonly]="!todo.edit"
    (press)="todo.edit = true"
    (blur)="editTodo(editInput.value, todo.id, todo.completed); todo.edit = false"
    class="form-control-plaintext form-control-lg">
</div>

<app-btn class="left" [btnType]="'remove'" [style.opacity]="opacityPositive"></app-btn>
<app-btn class="right" [btnType]="'accept'" [style.opacity]="opacityNegative"></app-btn>
